<!DOCTYPE html>
<head>
  <title>ZAP Station</title>
  <link rel="stylesheet" href="css/styles.css">

  <style>
  .container {
    font-family: Arial, sans-serif;
    width: 95%;
    height: 500px;
    margin: 25px auto;
    background-color: rgb(240, 240, 240);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  </style>

</head>
<body>

  <%- include('./partials/header.ejs') %>

  <div class="container">
    <p id="p1">Welcome to ZAP, where musical diversity meets unparalleled entertainment!
      Immerse yourself in a world of sonic delight as we bring you a vast array of musical genres, catering to every taste and mood.
      Whether you're a fan of pulsating beats, soothing melodies, or eclectic mixes, we've got you covered.
      Our dedicated team of passionate DJs curates playlists that transcend boundaries, ensuring a musical journey that resonates with the rhythm of your life.
    </p>
  
    <p id="p2">At ZAP, we pride ourselves on being your go-to destination for an enriching auditory experience.
      Tune in and discover the sounds that define your moments, from classic hits to the latest chart-toppers.
      Our commitment to delivering high-quality, diverse content extends beyond the confines of mainstream genres, making us the perfect companion for music enthusiasts of all kinds.
      Join us on this sonic adventure, where every note is a celebration of the universal language of music.
      Experience the extraordinary at ZAP – your gateway to a world where the beats never stop, and the melodies never fade.
    </p>

    <p id="p3">
      Beyond the captivating playlists, ZAP is more than just a music hub;
      we're a community of like-minded individuals who share a profound love for the artistry of sound.
      Engage with fellow music enthusiasts through our interactive platforms, where you can request your favorite tracks, participate in lively discussions about the latest releases, and connect with our vibrant community.
      We believe that music has the power to unite, inspire, and uplift, and at ZAP, we strive to create an inclusive space where everyone can find their rhythm.
      So, whether you're seeking the perfect soundtrack for your day or looking to explore new musical horizons, join us at ZAP
      and become a part of a musical journey that transcends boundaries and brings people together through the magic of melody.
    </p>


  </div>


  <%- include('./partials/footer.ejs') %>

</body>
</html>