.song-list-1 {
  display: flex;
  border-radius: 5px;
  border-style: solid;
  border-color: #3498db;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: large;
  border-width: 2px;
  background-color: #3498db;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#h2 {
  border-radius: 5px;
  border-style: solid;
  border-color: #8a9eaa;
  border-width: 2px;
  padding: 6px;
  font-size: large;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}


.songs-container {
  font-family: Arial, sans-serif;
  width: 80%;
  height: auto;
  margin: 25px auto;
  background-color: rgb(240, 240, 240);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.song-list {
  display: flex;
  border-radius: 5px;
  border-style: solid;
  border-color: #3498db;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: large;
  border-width: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.title {
  width: 33.33%;
  text-align: center;
}

.artist {
  width: 33.33%;
  text-align: center;
}

.year {
  width: 33.33%;
  text-align: center;
}